*, *::before, *::after { box-sizing: border-box; }

.app { padding: 25px; }

.title { text-align: center; }
.main {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    gap:50px
}

.search-line {
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: 0 auto;
}
.search-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-bottom: 10px;
    height: 40px;
    line-height: 20px;
    padding: 8px 15px;
}
.users-wrapper {
    padding: 0;
    width: 25%;
}

.users {

}


.repo-list {
    display: flex;
    list-style: none;
    padding: 20px;
    flex-direction: column;
    background-color: blanchedalmond;
    border: 1px black solid;

}
span{
    font-size: 20px;
    font-family: "Arima Koshi";
}
.favorite-repo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: auto;
}
.favorite-repo-item{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #9ceac7;
    gap: 5px;
    padding: 10px;
}
.favorite-wrapper-element{
    border: 1px black solid;

    display: flex;
}
.btn-favorite-del {
    font-size: 30px;
    font-family: "Andale Mono";
    font-weight: bold;
    color: brown;
    width: 50px;
    border: none;
    outline: none;
    background-color: #eec2c8;
}
.btn-favorite-del:active{
    background-color: thistle;
}





